.app {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  padding-bottom: 30px;
}

#light {
  background-color: hsl(0, 0%, 98%);
}

#dark {
  background-color: hsl(235, 21%, 11%);
}

.bg-image {
  position: absolute;
  height: 270px;
  width: 100%;
  right: 0;
  top: 0;
  background-size: cover;
  z-index: 0;
}

#light .bg-image {
  background-image: url(./images/bg-desktop-light.jpg);
}

#dark .bg-image {
  background-image: url(./images/bg-desktop-dark.jpg);
}


.container {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding-top: 70px;
}


@media (max-width: 35rem) {

  .bg-image {
    height: 250px;
  }

  #light .bg-image {
    background-image: url(./images/bg-mobile-light.jpg);
  }

  #dark .bg-image {
    background-image: url(./images/bg-mobile-dark.jpg);
  }

  .container {
    position: relative;
    max-width: 100%;
    padding-inline: 20px;
    margin: auto;
    padding-top: 60px;
  }
}